<div [ngClass]="{'product': true, 'out-of-stock': product.quantity < 1}" >
   <div class="product__price">
      <span [ngClass]="{'text-success': product.quantity > 0, 'text-secondary': product.quantity < 1}">
      <strong>{{product.price | currency:'GBP' }}</strong>
      </span>
   </div>
   <a
      class="product__img"
      (click)="onViewClick(product)">
      <figure>
         <img src="../assets/{{product._products[0]}}.jpg" />
      </figure>
   </a>
   <div class="product__content">
      <span class="product__content__name">
      {{product.name}}
      </span>
      <div>
         <span *ngIf="product.quantity > 0; else out_of_stock" 
                class="text-success"><strong>In Stock: {{product.quantity}}</strong></span>
         <ng-template #out_of_stock>
            <span class="text-secondary"><strong>Out of Stock</strong></span>
         </ng-template>
      </div>
   </div>
   <div class="product__add">
      <button 
        class="btn btn-link btn-block"
        [disabled]="product.quantity < 1"
        (click)="addToCart(product)">
      Add to Cart
      </button>
   </div>
</div>